.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.navbar-centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  width: 90%;
}

.navbar-centered .navbar-nav .nav-link,
.navbar-centered .navbar-brand,
.navbar-centered .nav-item .nav-link {
  color: white; /* Imposta il colore delle scritte a bianco */
}
/* Stile per le icone social */
.navbar-centered .bi {
  font-size: 1.5rem; /* Aumenta la dimensione delle icone */
  color: white; /* Colore bianco per le icone */
  margin-left: 10px; /* Aggiungi un po' di spazio tra le icone */
}

.navbar-centered .bi:hover {
  color: #ddd; /* Colore per l'effetto hover */
}
