.hero-container {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.carousel-img {
  width: 10%;
  height: 10%;
  object-fit: cover;
  z-index: 0;
  max-height: 800px;
}

.navbar-centrale {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  width: 90%;
}

.navbar-centrale .navbar-nav .nav-link,
.navbar-centrale .navbar-brand,
.navbar-centrale .nav-item .nav-link {
  color: rgb(0, 0, 0); /*colore scritte*/
}
/* Stile per le icone social */
.navbar-centrale .bi {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
}

.navbar-centrale .bi:hover {
  color: #ddd;
}

.card-info {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  width: 90%;
}
