.strong-text {
  color: #0004ff;
}

.card-body {
  background: #001e5c;
  color: #ffcc01;
}

.logo-home {
  width: 20%;
  height: 20%;
}

.card-header {
  background: #ffc90649;
}

.custom-card {
  border: none;
}
