.descrizione-img {
  margin-left: auto; /* Margine a sinistra automatico */
  margin-right: auto; /* Margine a destra automatico */
  width: 100%; /* Rende l'immagine della larghezza totale del contenitore */
  height: 100%;
  max-height: 900px; /* Mantiene il rapporto d'aspetto */
}

.desc-img {
  transition: transform 0.3s ease;
}

.desc-img:hover {
  transform: scale(1.2);
}
