.login-carousel-img {
  width: 100%; /* Occupa tutta la larghezza disponibile */
  height: 400px; /* Altezza fissa per tutte le immagini */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo lo spazio */
}
